# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Checkpoints
.ipynb_checkpoints*/
*/.ipynb_checkpoints/*

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
